@model IEnumerable<UniversalShopingClasses.GeneralProductManagement.ProductType>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<p>
    <a href="@Url.Action("AddProductType","Category")" class="btn btn-dark btn-md">Add New</a>
</p>
<table class="table">
    <tr class="text-white" style="background: #5D5D5D;">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteProductType", new { id = item.Id }) |
                @Html.ActionLink("SubCategory", "ProductCategories", new { id = item.Id })
            </td>
        </tr>
    }
</table>
