@model IEnumerable<UniversalShopingClasses.AuctionManagement.Auction>
@{
    ViewBag.Title = "GetAuctionDetailForCustomer";
    Layout = "~/Views/Shared/_AuctionLayout.cshtml";
}
<h2 class="text-center" style="margin-top: 5%">Specifications</h2>
<div class="col-lg-6 offset-lg-3">
    <table class="table table-bordered  table-responsive table-hover">
        @foreach (var v in Model)
        {
            <tr class="text-center">
                <th>Product Image</th>
                @foreach (var s in v.ProductImages)
                {
                    <td><img src="@Url.Content(s.Url)" alt="@s.Caption" style="width: 100px;height:100px" class="img-thumbnail" /></td>
                }
            </tr>
            <tr class="text-center">
                <th> Name</th>
                <td>@v.Name</td>
            </tr>
            <tr class="text-center">
                <th>Price</th>
                <td>@v.BidPrice</td>
            </tr>
            <tr class="text-center">
                <th>Specification</th>
                <td>@v.Specification</td>
            </tr>
            <tr class="text-center">
                <th>Address</th>
                <td>@v.FullAddress</td>
            </tr>
            <tr class="text-center">
                <th>Contact</th>
                <td>@v.Contact</td>
            </tr>
            <tr class="text-center">
                <th>Description</th>
                <td>@v.Description</td>
            </tr>
            <tr class="text-center">
                <th>Posted Time</th>
                <td>@v.Postedon</td>
            </tr>

        }
    </table>
</div>
