
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>DashBoard</h2>
<div class="row">
    <div class="col-lg-3">
        <div class="card box">
            <a href="@Url.Action("GetAllUsers", "Admin")" class="text-white">
                <h2><span class="fa fa-users fa-lg"></span><span class="ml-3">@Html.Action("GetUserCount", "Admin")</span> </h2>
                <h4 class="text-center">Users</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card box">
            <a href="@Url.Action("Orderby", "Order")" class="text-white">
                <h2><span class="fa fa-shopping-cart fa-lg"></span><span class="ml-3">@Html.Action("GetOrderCount", "Admin")</span> </h2>
                <h4 class="text-center">Orders</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card box">
            <a href="@Url.Action("ProductsinShop", "Drink")" class="text-white">
                <h2><span class="fa fa-glass fa-lg"></span><span class="ml-3">@Html.Action("GetdrinkCount", "Admin")</span> </h2>
                <h4 class="text-center">Drinks</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card box">
            <a href="@Url.Action("Index", "Mobile")" class="text-white">
                <h2><span class="fa fa-mobile fa-lg"></span><span class="ml-3">@Html.Action("GetMobileCount", "Admin")</span> </h2>
                <h4 class="text-center">Mobiles</h4>
            </a>
        </div>
    </div>
</div>
