@model IEnumerable<UniversalShopingClasses.DrinksManagement.DrinkOrderDetail>
@{
    ViewBag.Title = "ReciveOrders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>ReciveOrders</h2>
@Html.Partial("~/views/Order/_DeleteOrder.cshtml")
<table class="table table-hover table-striped table-borderless">
    <tr class="text-center deep-purple text-white">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qauntity)
        </th>
        <th>
            Total Amount
        </th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="row_@item.Id" class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@Url.Content(item.ImageUrl)" class="img-thumbnail" style="width: 70px; height: 70px;border-radius: 50%" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qauntity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a href='#exampleModal' data-toggle="modal" id="@item.Id" class="hits text-danger"><span class="fa fa-trash"></span></a>   |

                <a href="@Url.Action("UpdateOrder","Order",new {id=item.Id})" id="@item.Id" class="text-success"><span class="fa fa-edit"></span></a>
            </td>
        </tr>
    }
</table>
<input type="hidden" id="hiddenOrderId" />
@section myscript
{
    <script type="text/javascript">
        $(function () {
            $(".hits").click(function () {
                var rid = $(this).attr("id");
                alert(rid);
                $("#hiddenOrderId").val(rid);
                $("#modal-id").model('show');
            });

            $("#hit").click(function (event) {
                var delRecord = $("#hiddenOrderId").val();
                alert(delRecord);
                $.ajax({

                    url: "/Order/DeleteOrders/" + delRecord,
                    type: "POST",
                    data: { id: delRecord },
                    success: function (result) {

                        $("#modal-id").modal('hide');
                        $("#row_" + delRecord).remove();
                    }
                });
            });
        });
    </script>
}
