
@model IEnumerable<UniversalShopingClasses.OLXClass.AdvSummeryModel>
<div style="margin-top: 2%">
    @if (Model != null)
    {
        <div class="row">
            @foreach (var p in Model)
            {
                <div id="proditem" class="col-lg-4 col-md-6 col-sm-12">
                    <div class="img-thumbnail prodsmyitem">
                        @if (p.ImageUrl != null)
                        {
                            <img src="@Url.Content(p.ImageUrl)" alt="@p.Title" style="width: 292px;height: 200px" />
                        }
                        else
                        {
                            <h3>No Image</h3>
                        } <h3 class="float-right">@p.Price.ToString("c")</h3>
                        <h3>
                            @p.Title
                        </h3>
                        <p>@p.Description </p>
                        <a href="@Url.Action("ViewDetailofPost","Advertisement", new { Id = p.Id})" style="border-radius: 30px;margin-left: 20%" class="btn btn-success text-center">View Details &nbsp;<span class="fa fa-eye"></span></a>
                    </div>
                </div>
            }
        </div>

    }
</div>
