@model IEnumerable<UniversalShopingClasses.OLXClass.Advertisement>

@{
    ViewBag.Title = "AdminAdvDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AdminAdvDetails</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td></td>
        </tr>
    }

</table>
