@using UniversalShopingApp.Models
@using UniversalShopingClasses.AuctionManagement
@using UniversalShopingClasses.UserManagement
@{
    User currentuser = (User)Session[WebUtils.Current_User];
    List<SelectListItem> categories = AuctionHelper.ToSelectItemList(new AuctionHandler().GetAllCategories());
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title Universal-Shoping</title>
    <!-- Font Awesome -->
    <link href="~/Content/MDB-Free/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/Content/MDB-Free/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/Content/MDB-Free/css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="~/Content/MDB-Free/css/style.css" rel="stylesheet" />
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #5D5D5D;">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="@Url.Action("FirstPage","Contact")"><img src="~/Content/LogImg/USS LOGO Final-01-01.png" style="width: 170px;height:40px" /></a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Auction")">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("SubmitMessage","Contact")"><span class="fa fa-phone"></span>&nbsp;Contact Us</a>
                </li>
                <!-- Dropdown -->
                @if (currentuser != null)
                {

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user-circle" style="color: whitesmoke"></span>&nbsp;User Info<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("index","Users",new {id=currentuser.Id})"> <span class="fa fa-user"></span>&nbsp; @currentuser.Fullname</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ChangePassword","Users",new{id=currentuser.Id})"><span class="fa fa-lock"></span>&nbsp; Reset Password</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ProfileSetting","Users",new{id=currentuser.Id})"><span class="fa fa-cog"></span>&nbsp; Profile Setting</a></li>
                            <li class="dropdown-divider"></li>
                            <li class="nav-item"><a href="@Url.Action("Logout","Users")"><span class="fa fa-sign-out-alt"></span>&nbsp; Logout</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="/Content/UserImages/@Url.Content(currentuser.ImageUrl)" style="width: 50px; height: 50px; border-radius: 50%;" class="img-thumbnail" />
                    </li>
                }
            </ul>
            @if (currentuser != null)
            {
                <nav class="navbar navbar-dark mdb-color-ic">
                    <h4 class="text-white">WellCome:@currentuser.Fullname</h4>
                </nav>
            }
            <!-- Links -->
        </div>
        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
    <div class="row" style="padding: 10px;margin:0px">
        <div class="col-lg-3">
            <div class="list-group">
                <a href="#" class="list-group-item text-white text-center" style="background: #5D5D5D;">
                    Online Auction Shop Menu
                </a>
                <a href="@Url.Action("Index", "Auction")" class="list-group-item"><i class="fa fa-product-hunt"></i>&nbsp; Auction Products</a>
                @if (categories != null)
                {
                    foreach (var v in categories)
                    {
                        <a class="list-group-item" href="@Url.Action("AuctionByCategory", "Auction", new {id = Convert.ToInt32(v.Value)})"><span class="fa fa-tag"></span> @v.Text</a>
                    }
                }
                @if (currentuser != null)
                {
                    <a href="@Url.Action("AddAuctinoProduct", "Auction")" class="list-group-item"><i class="fa fa-plus"></i>&nbsp; Add New Adds</a>
                }
                <a href="@Url.Action("PostFeedBack", "FeedBack")" class="list-group-item"><i class="fa fa-comment"></i>&nbsp; Provid FeedBack</a>
            </div>
        </div>
        <div class="col-lg-9">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
    <!-- JQuery -->
    <script src="~/Content/MDB-Free/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script src="~/Content/MDB-Free/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/MDB-Free/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/Content/MDB-Free/js/mdb.min.js"></script>
    @RenderSection("myscript", required: false)
</body>
</html>
