@using UniversalShopingClasses.OLXClass
@using UniversalShopingClasses.UserManagement
@{
    List<SelectListItem> categories = new AdvertisemntHandler().GetCategories().ToSelectItemList();
    User currentUser = (User)Session[WebUtils.Current_User];

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title Universal-Shoping</title>
    <!-- Font Awesome -->
    <link href="~/Content/MDB-Free/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/Content/MDB-Free/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/Content/MDB-Free/css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="~/Content/MDB-Free/css/style.css" rel="stylesheet" />
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark deep-purple">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="@Url.Action("FirstPage","Contact")"><img src="~/Content/LogImg/USS LOGO Final-01-01.png" style="width: 170px;height:40px" /></a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("DashBoard","Admin")">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!-- Dropdown -->

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Home")"> <span class="fa fa-eye"></span>Visit Site</a>
                </li>
            </ul>
            <!-- Links -->
        </div>
        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
    <div class="row" style="padding: 10px;margin:0px">
        <div class="col-lg-3">
            <div class="list-group">
                <a href="#" class="list-group-item deep-purple text-white text-center">
                    Online Drink Shop Menu
                </a>
                <a href="@Url.Action("Index", "Advertisement")" class="list-group-item"><i class="fa fa-tags"></i>&nbsp; Advertisements</a>
                <a href="@Url.Action("PostAdvertisement", "Advertisement")" class="list-group-item"><i class="fa fa-plus"></i>&nbsp; Post Advertisement</a>
                @if (categories != null)
                {
                    foreach (var v in categories)
                    {
                        <a class="list-group-item" href="@Url.Action("ByCategory", "Advertisement", new {id = Convert.ToInt32(v.Value)})"><span class="fa fa-tag"></span> @v.Text</a>
                    }
                }
            </div>
        </div>
        <div class="col-lg-9">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
    <!-- JQuery -->
    <script src="~/Content/MDB-Free/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script src="~/Content/MDB-Free/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/MDB-Free/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/Content/MDB-Free/js/mdb.min.js"></script>
    @RenderSection("myscript", required: false)
</body>
</html>
